.header-col{}
.admin-btn {
    
}
.user-btn{}

.login-form {
    border: 3px solid #f1f1f1;
    margin-top: 215px;
    margin-bottom: 225px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.login-btn:hover {
    opacity: 0.8;
}
.body-row {
    
}
.body{}
.body-con {
    
}

















	